body {
    background-color: rgb(22, 21, 21);
    color: rgb(248, 236, 220);
}

img {
    border-radius: 50%;
    margin-bottom: 20px;
}

a:link {
    color: rgb(248, 236, 220);
}

a:visited {
    color: rgb(248, 236, 220);
}

a:hover {
    color: rgb(250, 247, 244);
}

a:active {
    color: rgb(185, 185, 236);
}

h2 {
    text-shadow: 0 0 7px rgb(185, 185, 236);
}

/* Style below adapted from Nathan Cahill: 
   URL: https://github.com/nathancahill/skeleton-fontawesome-buttons
*/
.button-icon {
    width: 38px;
    padding: 0;
    margin-right: 5px;
}

.button-icon .fa {
    width: 38px;
    line-height: 38px;
    font-size: 2rem;
    vertical-align: top;
}

.button-icon .fab {
    width: 38px;
    line-height: 38px;
    font-size: 2rem;
    vertical-align: top;
}

td .button-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
}

td .button-icon .fa {
    width: 28px;
    line-height: 28px;
    font-size: 1.3rem;
}

/* End skeleton-fontawesome-buttons */

.fa, .fab {
    color: white;
  }
