body {
    background-color: rgb(22, 21, 21);
    color: rgb(248, 236, 220);
}

.logo {
    border-radius: 50%;
    margin-bottom: 20px;
}

a:link {
    color: rgb(248, 236, 220);
}

a:visited {
    color: rgb(248, 236, 220);
}

a:hover {
    color: mediumaquamarine;
}

a:active {
    color: rgb(185, 185, 236);
}

h2 {
    text-shadow: 0 0 7px rgb(185, 185, 236);
}

#projects a:link, #projects {
    color: #666
}

#projects a:hover {
    color: #ccc;
}

/* Style below adapted from Nathan Cahill: 
   URL: https://github.com/nathancahill/skeleton-fontawesome-buttons
*/
.button-icon {
    width: 38px;
    padding: 0;
    margin-right: 5px;
}

.fa:hover {
    color: rgb(250, 247, 244);
    text-shadow: 0 0 3px rgb(185, 185, 236);
}

.fab:hover {
    color: rgb(250, 247, 244);
    text-shadow: 0 0 3px rgb(185, 185, 236);
}

.button-icon .fa {
    width: 38px;
    line-height: 38px;
    font-size: 2rem;
    vertical-align: top;
}

.button-icon .fab {
    width: 38px;
    line-height: 38px;
    font-size: 2rem;
    vertical-align: top;
}

td .button-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
}

td .button-icon .fa {
    width: 28px;
    line-height: 28px;
    font-size: 1.3rem;
}

/* End skeleton-fontawesome-buttons */

.fa, .fab {
    color: rgb(248, 236, 220);
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}

/* Email tooltip */
.tooltip .tooltiptext {
    opacity: 0;
    transition:opacity 0.15s linear;

    width: 200px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 0px 0;
    bottom: 110%;
    left: 50%;
    margin-left: -100px; /* Use half of the width to center the tooltip */
    /* Position the tooltip */
    position: absolute;
    z-index: -1;
}

.tooltip {
    position: relative;
    display: inline-block;
}