body { font-family: Sans-Serif; background-color: #FAF9F6; }
p { margin-top: 7px; margin-bottom: 7px; line-height: 20px; }
li { margin-top: 5px; margin-bottom: 5px; }
h3,h2,h1,ul { margin-top: 10px; margin-bottom: 15px; }
a:link,a:visited { color: blue; }
a:hover { color: #f7056a; }
a:active { color: turquoise; }
#bigbox { width:50% }
#content { text-align: left; }
#work1 { margin-left: 24px; margin-top: 10px; margin-bottom: 10px; }
#hello { font-weight: bold; font-size: 30px; }
#name { font-weight: bold; font-size: 36px; }
#subheading { font-weight: bold; font-size: 24px; }
#mePhoto { padding-right: 5px; border-radius: 10px; }

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #FAF9F6;
    }
    a:link,a:visited { color: rgb(127, 127, 238); }
    a:hover { color: #f7056a; }
    a:active { color: turquoise; }
    #infmIcon { filter: invert(1); }
}

code {
    font-size: 13pt;
  }